<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Cutesy fun little site I made for my girlfriend for valentines day <3</p>
      </div>
      <div class="col-lg-4">
        <p>hope you enjoyed! </p>
        <p>with love, Maadhav</p>
       
   
        </a>
      </div>
    </div>
  </div>
</section>
