<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Fun Activities</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      
      <!-- Crossword Puzzle -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="{{ site.baseurl }}/crossword/" class="portfolio-link">

          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-puzzle-piece fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/crossword.jpg" class="img-responsive" alt="Crossword Puzzle">
        </a>
      </div>

      <!-- Slideshow -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="/slideshow/" class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-camera-retro fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/slideshow.jpg" class="img-responsive" alt="Slideshow">
        </a>
      </div>

    </div>
  </div>
</section>
